Hi {$name}

Your demo has been marked as approved by one of our A&R's. You can now use this link
{$link} to access our new artist sign up page.

Once complate and approved your release will be scheduled for release.
 
Congrats on your release and welcome to the label.

A&R team.
