<fieldset>
	<legend>Change Password</legend>
	<form action="/user_management/change_password" novalidate="novalidate" method="post">
	<br>
	<div>
		<input id="password" name="password" type=password required>
		<label for="password">New Password</label>
	</div>
	<br>
	<div>
		<input id="passwordConfirm" name="password_confirm" type=password required>
		<label for="passwordConfirm">Confim Password</label>
	</div>

	<br>
	</br>

	<button type="submit">Reset</button>

	</form>
</fieldset>